extends layout

block content
    .inner
        form.form(method='POST')
            h2= title
            label(for="passowrd") Password
            input(type="password", name="password")
            label(for="passowrd-confirm") Confirm Password
            input(type="password", name="password-confirm")
            input.button(type="submit", value="Reset Password")
